{% extends "base.html" %}
{% block content %}
<h1>Citizen Cypher game page</h1>
{% if session['loggedIn'] == True %}
<h2>Make wise decisions, {{ session['realname'] }}</h2>
<br>

<div class="row justify-content-center">
    <div class="game-container">
        <div class="justify-content-center">
            <div class="game-box" id="gameBox">
                <h5>Sleep: <span id='sleepStat'>blah</span></h5>
                <h5>Happiness: <span id='happinessStat'></span></h5>
                <h5>Fitness: <span id='fitnessStat'></span></h5>
                <h5>Saturation: <span id='saturationStat'></span></h5>
            </div>
            <br/>
            <h3 id="question">What super fun activity will you do?</h3>
            <br>
            <div class="game-buttons" id="answers">
                <a id="0" type="button" class="answerButton btn btn-outline-light btn-lg"></a>
                <br><br>
                <a id="1" type="button" class="answerButton btn btn-outline-light btn-lg"></a>
                <br><br>
                <a id="2" type="button" class="answerButton btn btn-outline-light btn-lg"></a>
                <br><br>
                <a id="3" type="button" class="answerButton btn btn-outline-light btn-lg"></a>
            </div>
            <br>
            
        </div>
        <br><br>
        <div class="page-buttons row justify-content-center">
            <a href="{{ url_for('home')}}" id="button-home" type="button" class="btn btn-outline-danger btn-lg">Home</a>
        </div>
    </div>
</div>
{% endif %}

<script src="static/js/game.js"></script>


{% endblock %}